.division{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
   
}
body{
    background-color: silver;
}
img{
    margin-left: 35px;
}
.di{
    border: 1px solid black;
    width: fit-content;
    padding: 40px;
    background-color: white;
}
button{
    margin:10px 10px 10px 0px;
    width: 75px;
    background-color: green;
    color: white;
}